<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?700&family=Open+Sans:wght@300;400&family=Poppins:wght@400;wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/room.css">
    <link rel="stylesheet" href="/style/modal.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/main.js" defer type="module"></script>
    <title>Chat - Playideia</title>
</head>
<body>
    <div id="room" class="content">
        <header>
            <a href="/">
                <img src="/img/logo.svg" alt="logo">
            </a>
            <div class="buttons">
                <div class="button outlined" id="room-id" data-id="<%= roomId %>">
                    #<%= roomId %>
                    <img src="/img/number-sala.svg" alt="código da sala">
                </div>
                <a class="button" href="/create-pass"><img src="/img/create-sala.svg" alt="criar sala">Criar sala</a>
            </div>
        </header>
        <main>
            <section id="question-form">
                <h2>Faça sua pergunta</h2>
                <form action="/question/create/<%= roomId %>" method="post">
                    <label class="sr-only" for-id="question">O que você quer perguntar?</label>
                    <textarea name="question" id="question" rows="10" placeholder="O que você quer perguntar?"></textarea>
                    <footer>
                        <div>
                            <img src="/img/lock.svg" alt="lock">
                            Esta pergunta é anônima 
                        </div>
                        <button>Enviar</button>
                    </footer>
                </form>
            </section>
            <section id="questions">
                <h2 class="sr-only">Perguntas da comunidade</h2>
                <div class="questions">

                    <% if(isNoQuestions) { %>
                        <%- include('parts/no-question') %>
                    <% } %>

                    <% questions.forEach(question => { %>
                        <div class="question-wrapper">
                            <div class="question-content">
                                <div class="user">
                                    <img src="/img/Avatar.svg" alt="user">
                                </div>
                                <div class="question">
                                    <p><%= question.title %></p>
                                </div>
                            </div>
                            <div class="actions">
                                <a class="check" href="#" data-id="<%= question.id %>"><img src="/img/checked.svg" alt="Marcar"> Marcar como lida</a>
                                <a class="delete" href="#" data-id="<%= question.id %>"><img src="/img/trash.svg" alt="Excluir"> Excluir</a>
                            </div>
                        </div>
                    <% }); %>

                    <% questionReads.forEach(questionRead => { %>

                    <div class="question-wrapper read">
                        <div class="question-content">
                            <div class="user">
                                <img src="/img/avatar.svg" alt="user">
                            </div>
                            <div class="question">
                                <p><%= questionRead.title %></p>
                            </div>
                        </div>
                        <div class="actions">
                            <a class="delete" href="#" data-id="<%= questionRead.id %>"><img src="/img/trash.svg" alt="Excluir"> Excluir</a>
                        </div>
                    </div>
                    <% }); %>
                    
                </div>
            </section>
        </main>
    </div>
    
    <div class="modal-wrapper">
        <div class="modal">
            <h2>Exluir pergunta</h2>
            <p> Tem certeza que você deseja excluir essa pergunta?</p>
            <form action="#" method="post">
                <label class="sr-only" for-id="password">Digite sua senha admin</label>
                <input id="password" type="password" name="password" placeholder="Digite sua senha">

                <div class="buttons">
                    <div class="button grey cancel">Cancelar</div>
                    <button class="red">Sim, excluir</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>